openapi: 3.1.0
info:
  version: '1.15.1'
  title: DWS Processor API
  description: |-
    Nutrient DWS Processor API is an HTTP API that provides you with a simple document-in, document-out-based
    workflow that scales as you grow. Generate PDFs, convert documents to PDF, modify existing PDFs, and more.
  contact:
    name: Nutrient DWS Processor API
    url: https://www.nutrient.io/api/
  license:
    name: End User License Agreement
    url: https://www.nutrient.io/api/terms/
servers:
  - url: https://api.nutrient.io
    description: Base URL for Nutrient DWS Processor API endpoints.
security:
  - BearerToken: []
tags:
  - name: Authorization
    description: |-
      Nutrient DWS Processor API uses an HTTP authorization header to map each request made to the API to the user making the request. You're required to provide your API token in the authorization header with each request you make. Otherwise, the API will return an error.

      The authorization header has the following shape:

      ```
      Authorization: Bearer pdf_live<rest_of_api_key>
      ```

      `pdf_live<rest_of_api_key>` is an API key that can be retrieved by logging in to the [dashboard](https://dashboard.nutrient.io/api/api_keys/).

      Because this API allows full access to credits you purchased for DWS Processor API, it's only meant to be used by your backend services, which we assume are fully trusted.

      ## JWT-based authorization

      Apart from the API token, you can also use JWTs to authorize requests to DWS Processor API. This is useful when you want finer control over authorization or if you want to interact with DWS Processor API from a client-side application.

      JWT authorization is a method of controlling access to resources through the use of JSON Web Tokens (JWTs). A [JWT](https://datatracker.ietf.org/doc/html/rfc7519) “is a compact, URL-safe means of representing claims to be transferred between two parties.”

      It’s possible to generate a JWT using your API key via `POST tokens`[endpoint](https://www.nutrient.io/api/reference/public/#tag/JWT/operation/generate-token).

      The JWT has a benefit of being able to customize the operations and origins the token can access. The token can be time-limited for the security of your application, with a maximum expiration of 24 hours (86,400 seconds). The default expiration is 1 hour. JWTs can also be revoked at any time via the revocation endpoint, contrary to the API key, which can only be regenerated.

      For example, you can generate a token that can only access the `pdfa_api` operation and can only be used from the `www.origin1` origin. In this way, the token may be shared with a third-party service that will only be able to access the `pdfa_api` operation from the `www.origin1` origin, without having access to other operations or origins.

      Note that if the JWT has origin restrictions, the request must include the `Origin` header with the origin the token was generated for. If the `Origin` header isn’t provided, the request will be rejected. If origin restrictions aren’t set, the `Origin` header isn’t required.

      It’s also possible to revoke a token using the `DELETE /tokens` [endpoint](https://www.nutrient.io/api/reference/public/#tag/JWT/operation/revoke-token).
  - name: Document editing
    description: Process documents.
  - name: Instant JSON
    description: |-
      Instant JSON is a format we created for bringing annotations, forms and bookmarks into a modern format while keeping all important properties to make the Instant JSON spec work with PDF. The format is fully documented and can be easily converted to XFDF to make it interoperable.

      Please refer to [Instant JSON Reference](https://www.nutrient.io/api/reference/document-engine/instant-json/) for full reference documentation of the format.
  - name: Build API
    description: |-
      Build API allows you to assemble a PDF from multiple parts, such as an existing PDF, a blank page, or an HTML page. You can apply one or more actions, such as watermarking, rotating pages, or importing annotations. Once the entire PDF is generated from its parts, you can also apply additional actions, such as optical character recognition (OCR), to the assembled PDF itself.

      The Build API can be interacted with two distinct ways:

      * The basic use case for the Build API is to upload all inputs together in the build instructions with the `multipart/form-data` request, where each input is provided as a separate part along with a special `instructions` part with the processing instructions.
      * The Build API supports inputs provided from remote URLs. If all inputs are provided as remote URLs, the multipart request isn’t necessary and can be simplified to a non-multipart request with the `application/json` body with the processing instructions.

      ## Instructions Schema

      When making requests to the API, the instructions object must conform to the [BuildInstructions](#model/BuildInstructions) schema.
  - name: File Type Support
    description: |-
      DWS Processor API supports importing documents in different file formats:

      * PDFs
      * Image documents
      * Office files (Word, Excel, PowerPoint etc.)
      * HTML files (including associated assets such as images, CSS, and web fonts)

      The following table shows the allowed file extensions and their MIME types:

      | File Extension | MIME Type                                                                 |
      | -------------- | ------------------------------------------------------------------------- |
      | PDF            | application/pdf                                                           |
      | DOC            | application/msword                                                        |
      | DOCX           | application/vnd.openxmlformats-officedocument.wordprocessingml.document   |
      | DOCM           | application/vnd.ms-word.document.macroEnabled.12                          |
      | DOTX           | application/vnd.openxmlformats-officedocument.wordprocessingml.template   |
      | DOTM           | application/vnd.ms-word.template.macroEnabled.12                          |
      | XLS            | application/vnd.ms-excel                                                  |
      | XLSX           | application/vnd.openxmlformats-officedocument.spreadsheetml.sheet         |
      | XLSM           | application/vnd.ms-excel.sheet.macroEnabled.12                            |
      | XLSB           | application/vnd.ms-excel.sheet.binary.macroEnabled.12                     |
      | XLTX           | application/vnd.openxmlformats-officedocument.spreadsheetml.template      |
      | XLTM           | application/vnd.ms-excel.template.macroEnabled.12                         |
      | XLAM           | application/vnd.ms-excel.addin.macroEnabled.12                            |
      | PPT, PPS       | application/vnd.ms-powerpoint                                             |
      | PPTX           | application/vnd.openxmlformats-officedocument.presentationml.presentation |
      | PPSX           | application/vnd.openxmlformats-officedocument.presentationml.slideshow    |
      | PPTM           | application/vnd.ms-powerpoint.presentation.macroEnabled.12                |
      | PPSX           | application/vnd.openxmlformats-officedocument.presentationml.slideshow    |
      | PPSM           | application/vnd.ms-powerpoint.slideshow.macroEnabled.12                   |
      | POTX           | application/vnd.openxmlformats-officedocument.presentationml.template     |
      | POTM           | application/vnd.ms-powerpoint.template.macroEnabled.12                    |
      | PPAM           | application/vnd.ms-powerpoint.addin.macroEnabled.12                       |
      | RTF            | application/rtf                                                           |
      | ODT            | application/vnd.oasis.opendocument.text                                   |
      | TXT            | text/plain                                                                |
      | HTML           | text/html                                                                 |
      | BMP            | image/bmp                                                                 |
      | JPG/JPEG       | image/jpeg                                                                |
      | PNG            | image/png                                                                 |
      | TIFF           | image/tiff                                                                |
      | HEIC           | image/heic                                                                |
      | GIF            | image/gif                                                                 |
      | WEBP           | image/webp                                                                |
      | SVG            | image/svg+xml                                                             |
      | TGA            | image/x-tga                                                               |
      | EPS            | image/postscript                                                          |
      | EML            | message/rfc822                                                            |
      | MSG            | application/vnd.ms-outlook                                                |
      | DWG            | image/vnd.dwg                                                             |
      | DXF            | image/vnd.dxf                                                             |
  - name: OCR Language Support
    description: |-
      The OCR action supports a wide range of languages for text extraction. You can specify languages using either:
      - **Full language name** (lowercase, e.g., `english`, `german`) - available for commonly used languages
      - **ISO 639-2 language code** (e.g., `eng`, `deu`) - available for all languages
      - **ISO 639-2 language code with variant** (e.g., `chi_sim_vert` or `deu_frak`)

      | Description                      | Language code  | Full language name |
      | -------------------------------- | -------------- | ------------------ |
      | Afrikaans                        | `afr`          |                    |
      | Albanian                         | `sqi`          |                    |
      | Amharic                          | `amh`          |                    |
      | Arabic                           | `ara`          |                    |
      | Armenian                         | `hye`          |                    |
      | Assamese                         | `asm`          |                    |
      | Azerbaijani                      | `aze`          |                    |
      | Azerbaijani - Cyrillic           | `aze_cyrl`     |                    |
      | Basque                           | `eus`          |                    |
      | Belarusian                       | `bel`          |                    |
      | Bengali                          | `ben`          |                    |
      | Bosnian                          | `bos`          |                    |
      | Breton                           | `bre`          |                    |
      | Bulgarian                        | `bul`          |                    |
      | Burmese                          | `mya`          |                    |
      | Catalan; Valencian               | `cat`          |                    |
      | Cebuano                          | `ceb`          |                    |
      | Central Khmer                    | `khm`          |                    |
      | Cherokee                         | `chr`          |                    |
      | Chinese - Simplified             | `chi_sim`      |                    |
      | Chinese - Simplified (Vertical)  | `chi_sim_vert` |                    |
      | Chinese - Traditional            | `chi_tra`      |                    |
      | Chinese - Traditional (Vertical) | `chi_tra_vert` |                    |
      | Corsican                         | `cos`          |                    |
      | Croatian                         | `hrv`          | `croatian`         |
      | Czech                            | `ces`          | `czech`            |
      | Danish                           | `dan`          | `danish`           |
      | Danish - Fraktur                 | `dan_frak`     |                    |
      | Dhivehi; Maldivian               | `div`          |                    |
      | Dutch; Flemish                   | `nld`          | `dutch`            |
      | Dzongkha                         | `dzo`          |                    |
      | English                          | `eng`          | `english`          |
      | English, Middle (1100-1500)      | `enm`          |                    |
      | Esperanto                        | `epo`          |                    |
      | Estonian                         | `est`          |                    |
      | Faroese                          | `fao`          |                    |
      | Filipino                         | `fil`          |                    |
      | Finnish                          | `fin`          | `finnish`          |
      | French                           | `fra`          | `french`           |
      | French, Middle (ca. 1400-1600)   | `frm`          |                    |
      | Galician                         | `glg`          |                    |
      | Georgian                         | `kat`          |                    |
      | Georgian - Old                   | `kat_old`      |                    |
      | German                           | `deu`          | `german`           |
      | German - Fraktur                 | `deu_frak`     |                    |
      | German Fraktur                   | `frk`          |                    |
      | Greek, Ancient                   | `grc`          |                    |
      | Greek, Modern                    | `ell`          |                    |
      | Gujarati                         | `guj`          |                    |
      | Haitian; Haitian Creole          | `hat`          |                    |
      | Hebrew                           | `heb`          |                    |
      | Hindi                            | `hin`          |                    |
      | Hungarian                        | `hun`          |                    |
      | Icelandic                        | `isl`          |                    |
      | Indonesian                       | `ind`          | `indonesian`       |
      | Inuktitut                        | `iku`          |                    |
      | Irish                            | `gle`          |                    |
      | Italian                          | `ita`          | `italian`          |
      | Italian - Old                    | `ita_old`      |                    |
      | Japanese                         | `jpn`          |                    |
      | Japanese (Vertical)              | `jpn_vert`     |                    |
      | Javanese                         | `jav`          |                    |
      | Kannada                          | `kan`          |                    |
      | Kazakh                           | `kaz`          |                    |
      | Kirghiz; Kyrgyz                  | `kir`          |                    |
      | Korean                           | `kor`          |                    |
      | Korean (Vertical)                | `kor_vert`     |                    |
      | Kurdish                          | `kur`          |                    |
      | Kurmanji (Kurdish)               | `kmr`          |                    |
      | Lao                              | `lao`          |                    |
      | Latin                            | `lat`          |                    |
      | Latvian                          | `lav`          |                    |
      | Lithuanian                       | `lit`          |                    |
      | Luxembourgish                    | `ltz`          |                    |
      | Macedonian                       | `mkd`          |                    |
      | Malay                            | `msa`          | `malay`            |
      | Malayalam                        | `mal`          |                    |
      | Maltese                          | `mlt`          |                    |
      | Maori                            | `mri`          |                    |
      | Marathi                          | `mar`          |                    |
      | Math/Equation detection          | `equ`          |                    |
      | Mongolian                        | `mon`          |                    |
      | Nepali                           | `nep`          |                    |
      | Norwegian                        | `nor`          | `norwegian`        |
      | Occitan                          | `oci`          |                    |
      | Oriya                            | `ori`          |                    |
      | Panjabi; Punjabi                 | `pan`          |                    |
      | Persian                          | `fas`          |                    |
      | Polish                           | `pol`          | `polish`           |
      | Portuguese                       | `por`          | `portuguese`       |
      | Pushto; Pashto                   | `pus`          |                    |
      | Quechua                          | `que`          |                    |
      | Romanian; Moldavian              | `ron`          |                    |
      | Russian                          | `rus`          |                    |
      | Sanskrit                         | `san`          |                    |
      | Scottish Gaelic                  | `gla`          |                    |
      | Serbian                          | `srp`          | `serbian`          |
      | Serbian - Latin                  | `srp_latn`     |                    |
      | Sindhi                           | `snd`          |                    |
      | Sinhala; Sinhalese               | `sin`          |                    |
      | Slovak                           | `slk`          | `slovak`           |
      | Slovak - Fraktur                 | `slk_frak`     |                    |
      | Slovenian                        | `slv`          | `slovenian`        |
      | Spanish; Castilian               | `spa`          | `spanish`          |
      | Spanish - Old                    | `spa_old`      |                    |
      | Sundanese                        | `sun`          |                    |
      | Swahili                          | `swa`          |                    |
      | Swedish                          | `swe`          | `swedish`          |
      | Syriac                           | `syr`          |                    |
      | Tagalog                          | `tgl`          |                    |
      | Tajik                            | `tgk`          |                    |
      | Tamil                            | `tam`          |                    |
      | Tatar                            | `tat`          |                    |
      | Telugu                           | `tel`          |                    |
      | Thai                             | `tha`          |                    |
      | Tibetan                          | `bod`          |                    |
      | Tigrinya                         | `tir`          |                    |
      | Tonga                            | `ton`          |                    |
      | Turkish                          | `tur`          | `turkish`          |
      | Uighur; Uyghur                   | `uig`          |                    |
      | Ukrainian                        | `ukr`          |                    |
      | Urdu                             | `urd`          |                    |
      | Uzbek                            | `uzb`          |                    |
      | Uzbek - Cyrillic                 | `uzb_cyrl`     |                    |
      | Vietnamese                       | `vie`          |                    |
      | Welsh                            | `cym`          |                    |
      | Western Frisian                  | `fry`          |                    |
      | Yiddish                          | `yid`          |                    |
      | Yoruba                           | `yor`          |                    |
externalDocs:
  description: Nutrient DWS Processor API guides
  url: https://www.nutrient.io/guides/dws-processor/
paths:
  /build:
    post:
      operationId: build-document
      summary: Process documents
      description: |-
        This endpoint lets you use [Build instructions](#tag/Build-API) to process a document. This allows you to
        assemble a PDF from multiple parts, such as an existing document in a supported content type, a blank page,
        or an HTML page. You can apply one or more actions, such as watermarking, rotating pages, or importing
        annotations. Once the entire PDF is generated from its parts, you can also apply additional actions,
        such as optical character recognition (OCR), to the assembled PDF itself.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildInstructions'
          multipart/form-data:
            schema:
              type: object
              properties:
                instructions:
                  $ref: '#/components/schemas/BuildInstructions'
            encoding:
              instructions:
                contentType: application/json
      responses:
        '200':
          $ref: '#/components/responses/BuildResponseOk'
        '400':
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Document Editing
      x-codeSamples:
        - label: cURL
          lang: curl
          source: |
            curl --request POST \
              --url https://api.nutrient.io/build \
              --header 'Authorization: Bearer <your_api_key_here>' \
              --header 'content-type: application/json' \
              --data '{
              "parts": [{ "file": {"url": "https://remote-file-storage/input.pdf"}}],
              "actions": [{ "type": "applyInstantJson", "file": {"url": "https://remote-file-storage/instant.json" }}],
              "output": {
                "metadata": {
                  "title": "Nutrient Document Engine API Specification",
                  "author": "Document Author"
                },
                "labels": [{ "pages": [0], "label": "Page I-III" }],
                "user_password": "string",
                "owner_password": "string",
                "user_permissions": ["printing"],
                "type": "pdf"
              }
            }'
  /process_office_template:
    post:
      operationId: process-office-template
      summary: Populate a DOCX template
      description: This endpoint populates a DOCX template with JSON model data and returns the resulting DOCX document.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - document
                - model
              properties:
                document:
                  type: string
                  format: binary
                  description: The DOCX template to process.
                  example: <DOCX data>
                model:
                  $ref: '#/components/schemas/OfficeTemplateModel'
            encoding:
              document:
                contentType: application/vnd.openxmlformats-officedocument.wordprocessingml.document
              model:
                contentType: application/json
      responses:
        '200':
          description: The populated DOCX document.
          content:
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                type: string
                description: The processed document in DOCX format.
                format: binary
                example: <DOCX file>
          headers:
            x-pspdfkit-request-cost:
              $ref: '#/components/headers/x-pspdfkit-request-cost'
            x-pspdfkit-remaining-credits:
              $ref: '#/components/headers/x-pspdfkit-remaining-credits'
        '400':
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: The request exceeds the maximum input size, meaning either the template or the model is too large.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Document Editing
  /analyze_build:
    post:
      summary: Analyze a build request
      description: |-
        Performs analysis of the Build API request without actually executing it.

        Use this endpoint to calculate how many credits a Build API request would consume. The request is free of charge.

        Note: Make sure to provide the correct `content_type` parameter for each of your file parts to get accurate results.
        Otherwise, the endpoint might not correctly identify conversion features such as Office or image conversion.
      operationId: analyze_build
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildInstructions'
      responses:
        '200':
          description: The analysis result.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyzeBuildResponse'
        '400':
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '408':
          description: The request timed out.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Document Editing
  /processor/convert_to_pdf:
    post:
      summary: Convert to PDF
      operationId: processor-convert-to-pdf
      description: |-
        Convert documents of any [supported format](#tag/File-Type-Support) to PDF.

        This endpoint is a simplified interface to the [Build API's](#tag/Document-Editing/operation/build-document)
        document conversion capabilities. Under the hood, it creates a Build API request with a single
        `FilePart`. For more advanced use cases, use the `/build` endpoint directly.
      requestBody:
        content:
          application/vnd.openxmlformats-officedocument.wordprocessingml.document:
            schema:
              description: Raw DOCX document for direct upload
              format: binary
              type: string
          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
            schema:
              description: Raw XLSX document for direct upload
              format: binary
              type: string
          image/jpeg:
            schema:
              description: Raw JPEG image for direct upload
              format: binary
              type: string
          image/png:
            schema:
              description: Raw PNG image for direct upload
              format: binary
              type: string
          application/json:
            schema:
              properties:
                url:
                  $ref: '#/components/schemas/url'
                password:
                  $ref: '#/components/schemas/password'
                layout:
                  $ref: '#/components/schemas/layout'
                pages:
                  $ref: '#/components/schemas/PageRange'
                content_type:
                  $ref: '#/components/schemas/content_type'
                markup_mode:
                  $ref: '#/components/schemas/markup_mode'
                email_language:
                  $ref: '#/components/schemas/email_language'
                email_timezone:
                  $ref: '#/components/schemas/email_timezone'
              required:
                - url
              type: object
            example:
              url: https://www.nutrient.io/api/assets/downloads/samples/docx/document.docx
          multipart/form-data:
            encoding:
              file:
                contentType: application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, image/*, text/html, message/rfc822, application/vnd.ms-outlook
              data:
                contentType: application/json
            schema:
              properties:
                file:
                  description: The document file to convert to PDF
                  format: binary
                  type: string
                  example: <Binary file data>
                data:
                  properties:
                    password:
                      $ref: '#/components/schemas/password'
                    layout:
                      $ref: '#/components/schemas/layout'
                    pages:
                      $ref: '#/components/schemas/PageRange'
                    content_type:
                      $ref: '#/components/schemas/content_type'
                    markup_mode:
                      $ref: '#/components/schemas/markup_mode'
                    email_language:
                      $ref: '#/components/schemas/email_language'
                    email_timezone:
                      $ref: '#/components/schemas/email_timezone'
                  type: object
                  example: {}
              required:
                - file
              type: object
      responses:
        '200':
          content:
            application/pdf:
              schema:
                description: The processed PDF file
                example: <PDF file>
                format: binary
                type: string
          description: The processed PDF document
          headers:
            x-pspdfkit-remaining-credits:
              $ref: '#/components/headers/x-pspdfkit-remaining-credits'
            x-pspdfkit-request-cost:
              $ref: '#/components/headers/x-pspdfkit-request-cost'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Document Editing
  /processor/generate_pdf:
    post:
      summary: Convert HTML to PDF
      operationId: processor-generate-pdf
      description: |-
        Generate PDF from HTML with assets (CSS, images, fonts, etc.).

        This endpoint is a simplified interface to the [Build API's](#tag/Document-Editing/operation/build-document)
        HTML conversion capabilities. Under the hood, it creates a Build API request with a `HTMLPart`.
        For more advanced use cases, use the `/build` endpoint directly.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                url:
                  $ref: '#/components/schemas/url'
                assets:
                  $ref: '#/components/schemas/assets'
                layout:
                  $ref: '#/components/schemas/PageLayout'
              required:
                - url
              type: object
            example:
              url: https://www.nutrient.io/api/assets/downloads/samples/html/index.html
          multipart/form-data:
            encoding:
              html:
                contentType: text/html
              data:
                contentType: application/json
            schema:
              properties:
                html:
                  description: The HTML file to convert to PDF
                  format: binary
                  type: string
                  example: <html><body><h1>Hello World</h1></body></html>
                data:
                  properties:
                    assets:
                      $ref: '#/components/schemas/assets'
                    layout:
                      $ref: '#/components/schemas/PageLayout'
                  type: object
                  example: {}
              required:
                - html
              type: object
      responses:
        '200':
          content:
            application/pdf:
              schema:
                description: The processed PDF file
                example: <PDF file>
                format: binary
                type: string
          description: The processed PDF document
          headers:
            x-pspdfkit-remaining-credits:
              $ref: '#/components/headers/x-pspdfkit-remaining-credits'
            x-pspdfkit-request-cost:
              $ref: '#/components/headers/x-pspdfkit-request-cost'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Document Editing
  /processor/ocr:
    post:
      summary: Perform OCR
      operationId: processor-ocr
      description: |-
        Perform optical character recognition (OCR) on a PDF document to extract text and make it searchable.

        This endpoint is a simplified interface to the [Build API's](#tag/Document-Editing/operation/build-document)
        OCR capabilities. Under the hood, it creates a Build API request with a single `FilePart` and applies
        an `ocr` action. For more advanced use cases, use the `/build` endpoint directly.

        See the [OCR Language Support](#tag/OCR-Language-Support) section for a complete list of supported languages.
      requestBody:
        content:
          application/pdf:
            schema:
              description: PDF document
              format: binary
              type: string
          application/json:
            schema:
              properties:
                url:
                  $ref: '#/components/schemas/url'
                language:
                  oneOf:
                    - $ref: '#/components/schemas/OcrLanguage'
                    - type: array
                      example:
                        - english
                        - german
                      items:
                        $ref: '#/components/schemas/OcrLanguage'
                  default: english
                  description: |-
                    OCR dictionary to be used for text extraction. Defaults to `english` if not specified.
                    You can specify either a single language or an array of languages for multilingual documents.
              required:
                - url
              type: object
            example:
              url: https://www.nutrient.io/api/assets/downloads/samples/scanned-document.pdf
              language: english
          multipart/form-data:
            encoding:
              file:
                contentType: application/pdf
              data:
                contentType: application/json
            schema:
              properties:
                file:
                  description: The PDF file to perform OCR on
                  format: binary
                  type: string
                  example: <PDF file data>
                data:
                  properties:
                    language:
                      oneOf:
                        - $ref: '#/components/schemas/OcrLanguage'
                        - type: array
                          example:
                            - english
                            - german
                          items:
                            $ref: '#/components/schemas/OcrLanguage'
                      default: english
                      description: |-
                        OCR dictionary to be used for text extraction. Defaults to `english` if not specified.
                        You can specify either a single language or an array of languages for multilingual documents.
                  type: object
                  example:
                    language: english
              required:
                - file
              type: object
      responses:
        '200':
          content:
            application/pdf:
              schema:
                description: The processed PDF file with OCR text layer
                example: <PDF file>
                format: binary
                type: string
          description: The PDF document with OCR text layer applied
          headers:
            x-pspdfkit-remaining-credits:
              $ref: '#/components/headers/x-pspdfkit-remaining-credits'
            x-pspdfkit-request-cost:
              $ref: '#/components/headers/x-pspdfkit-request-cost'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Document Editing
  /processor/pdfua:
    post:
      summary: PDF/UA Auto-Tagging
      operationId: processor-pdfua
      description: |-
        Automatically tag any PDF into a PDF/UA-compliant, screen-reader-ready document in a single API call.

        This endpoint is a simplified interface to the [Build API](#tag/Document-Editing/operation/build-document)
        with PDF/UA output. For more advanced use cases, use the `/build` endpoint directly.
      requestBody:
        content:
          application/pdf:
            schema:
              description: Raw PDF document for direct upload
              format: binary
              type: string
          application/json:
            schema:
              properties:
                url:
                  $ref: '#/components/schemas/url'
                password:
                  $ref: '#/components/schemas/password'
              required:
                - url
              type: object
            example:
              url: https://www.nutrient.io/api/assets/downloads/samples/pdf/basic.pdf
          multipart/form-data:
            encoding:
              file:
                contentType: application/pdf
              data:
                contentType: application/json
            schema:
              properties:
                file:
                  description: The PDF file to convert to PDF/UA
                  format: binary
                  type: string
                  example: <Binary PDF data>
                data:
                  properties:
                    password:
                      $ref: '#/components/schemas/password'
                  type: object
                  example: {}
              required:
                - file
              type: object
      responses:
        '200':
          content:
            application/pdf:
              schema:
                description: The processed PDF/UA-compliant PDF file
                example: <PDF file>
                format: binary
                type: string
          description: The PDF/UA-compliant document
          headers:
            x-pspdfkit-remaining-credits:
              $ref: '#/components/headers/x-pspdfkit-remaining-credits'
            x-pspdfkit-request-cost:
              $ref: '#/components/headers/x-pspdfkit-request-cost'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Document Editing
  /processor/redact:
    post:
      summary: Redact documents
      operationId: processor-redact-document
      description: |-
        Create and optionally apply redactions to a PDF document.

        This endpoint is a simplified interface to the [Build API's](#tag/Document-Editing/operation/build-document)
        Redaction capabilities. Under the hood, it creates a Build API request with `createRedactions`
        and optionally `applyRedactions` actions. For more advanced use cases, use the `/build` endpoint directly.
      requestBody:
        content:
          application/json:
            schema:
              properties:
                url:
                  $ref: '#/components/schemas/url'
                strategy:
                  description: The redaction strategy to use. See the Build API's CreateRedactionsAction for details.
                  enum:
                    - text
                    - regex
                    - preset
                    - word_based
                  type: string
                strategyOptions:
                  description: Options for the redaction strategy. Schema depends on the strategy chosen.
                  oneOf:
                    - $ref: '#/components/schemas/CreateRedactionsStrategyOptionsText'
                    - $ref: '#/components/schemas/CreateRedactionsStrategyOptionsRegex'
                    - $ref: '#/components/schemas/CreateRedactionsStrategyOptionsPreset'
                    - $ref: '#/components/schemas/CreateRedactionsStrategyOptionsWordBased'
                redactionState:
                  default: apply
                  description: Whether to stage redactions only or apply them immediately. When set to 'stage', creates redaction annotations. When set to 'apply', creates and applies redactions permanently.
                  enum:
                    - stage
                    - apply
                  type: string
                content:
                  type: array
                  description: Optional array of redaction content items to apply. Each item defines a redaction area to create.
                  items:
                    type: object
                password:
                  $ref: '#/components/schemas/password'
              required:
                - url
                - strategy
              type: object
            example:
              url: https://www.nutrient.io/api/assets/downloads/samples/watermark/document.pdf
              strategy: text
              strategyOptions:
                text: primate
          multipart/form-data:
            encoding:
              file:
                contentType: application/pdf
              data:
                contentType: application/json
            schema:
              properties:
                file:
                  description: The PDF file to redact
                  format: binary
                  type: string
                  example: <Binary PDF data>
                data:
                  properties:
                    strategy:
                      description: The redaction strategy to use. See the Build API's CreateRedactionsAction for details.
                      enum:
                        - text
                        - regex
                        - preset
                        - word_based
                      type: string
                    strategyOptions:
                      description: Options for the redaction strategy. Schema depends on the strategy chosen.
                      oneOf:
                        - $ref: '#/components/schemas/CreateRedactionsStrategyOptionsText'
                        - $ref: '#/components/schemas/CreateRedactionsStrategyOptionsRegex'
                        - $ref: '#/components/schemas/CreateRedactionsStrategyOptionsPreset'
                        - $ref: '#/components/schemas/CreateRedactionsStrategyOptionsWordBased'
                    redactionState:
                      default: apply
                      description: Whether to stage redactions only or apply them immediately. When set to 'stage', creates redaction annotations. When set to 'apply', creates and applies redactions permanently.
                      enum:
                        - stage
                        - apply
                      type: string
                    content:
                      type: array
                      description: Optional array of redaction content items to apply. Each item defines a redaction area to create.
                      items:
                        type: object
                    password:
                      $ref: '#/components/schemas/password'
                  required:
                    - strategy
                  type: object
                  example:
                    strategy: text
                    strategyOptions:
                      text: primate
              required:
                - file
              type: object
      responses:
        '200':
          content:
            application/pdf:
              schema:
                description: The processed PDF file
                example: <PDF file>
                format: binary
                type: string
          description: The processed PDF document
          headers:
            x-pspdfkit-remaining-credits:
              $ref: '#/components/headers/x-pspdfkit-remaining-credits'
            x-pspdfkit-request-cost:
              $ref: '#/components/headers/x-pspdfkit-request-cost'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Document Editing
  /processor/watermark:
    post:
      summary: Add watermark to PDF
      operationId: processor-watermark
      description: |-
        Add text or image watermarks to all pages of a PDF document.

        This endpoint is a simplified interface to the [Build API](#tag/Document-Editing/operation/build-document).
        For more advanced use cases, use the `/build` endpoint directly.
      requestBody:
        content:
          application/json:
            schema:
              allOf:
                - oneOf:
                    - title: Text watermark
                      allOf:
                        - type: object
                          required:
                            - url
                          properties:
                            url:
                              $ref: '#/components/schemas/url'
                        - type: object
                          properties:
                            text:
                              $ref: '#/components/schemas/text'
                            fontFamily:
                              $ref: '#/components/schemas/fontFamily'
                            fontSize:
                              $ref: '#/components/schemas/fontSize'
                            fontColor:
                              $ref: '#/components/schemas/fontColor'
                            fontStyle:
                              $ref: '#/components/schemas/fontStyle'
                          required:
                            - text
                    - title: Image watermark
                      type: object
                      required:
                        - url
                        - image
                      properties:
                        url:
                          $ref: '#/components/schemas/url'
                        image:
                          $ref: '#/components/schemas/FileHandle'
                - type: object
                  required:
                    - width
                    - height
                  properties:
                    width:
                      allOf:
                        - $ref: '#/components/schemas/WatermarkDimension'
                        - description: Width of the watermark
                    height:
                      allOf:
                        - $ref: '#/components/schemas/WatermarkDimension'
                        - description: Height of the watermark
                    top:
                      allOf:
                        - $ref: '#/components/schemas/WatermarkDimension'
                        - description: Top offset of the watermark
                    right:
                      allOf:
                        - $ref: '#/components/schemas/WatermarkDimension'
                        - description: Right offset of the watermark
                    bottom:
                      allOf:
                        - $ref: '#/components/schemas/WatermarkDimension'
                        - description: Bottom offset of the watermark
                    left:
                      allOf:
                        - $ref: '#/components/schemas/WatermarkDimension'
                        - description: Left offset of the watermark
                    rotation:
                      $ref: '#/components/schemas/rotation'
                    opacity:
                      $ref: '#/components/schemas/opacity'
            examples:
              text:
                summary: Text watermark
                value:
                  url: https://example.com/document.pdf
                  text: CONFIDENTIAL
                  width: 200
                  height: 50
                  fontSize: 20
                  fontColor: '#FF0000'
                  opacity: 0.5
              image:
                summary: Image watermark
                value:
                  url: https://example.com/document.pdf
                  image:
                    url: https://example.com/logo.png
                  width: 50%
                  height: 100
                  opacity: 0.3
          multipart/form-data:
            encoding:
              file:
                contentType: application/pdf
              data:
                contentType: application/json
            schema:
              type: object
              required:
                - file
                - data
              properties:
                file:
                  description: The PDF file to watermark
                  format: binary
                  type: string
                  example: <PDF data>
                data:
                  oneOf:
                    - title: Text watermark
                      allOf:
                        - type: object
                          properties:
                            text:
                              $ref: '#/components/schemas/text'
                            fontFamily:
                              $ref: '#/components/schemas/fontFamily'
                            fontSize:
                              $ref: '#/components/schemas/fontSize'
                            fontColor:
                              $ref: '#/components/schemas/fontColor'
                            fontStyle:
                              $ref: '#/components/schemas/fontStyle'
                          required:
                            - text
                        - type: object
                          required:
                            - width
                            - height
                          properties:
                            width:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Width of the watermark
                            height:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Height of the watermark
                            top:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Top offset of the watermark
                            right:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Right offset of the watermark
                            bottom:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Bottom offset of the watermark
                            left:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Left offset of the watermark
                            rotation:
                              $ref: '#/components/schemas/rotation'
                            opacity:
                              $ref: '#/components/schemas/opacity'
                    - title: Image watermark
                      allOf:
                        - type: object
                          properties:
                            image:
                              type: string
                              description: Name of the multipart part containing the watermark image
                              example: logo
                          required:
                            - image
                        - type: object
                          required:
                            - width
                            - height
                          properties:
                            width:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Width of the watermark
                            height:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Height of the watermark
                            top:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Top offset of the watermark
                            right:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Right offset of the watermark
                            bottom:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Bottom offset of the watermark
                            left:
                              allOf:
                                - $ref: '#/components/schemas/WatermarkDimension'
                                - description: Left offset of the watermark
                            rotation:
                              $ref: '#/components/schemas/rotation'
                            opacity:
                              $ref: '#/components/schemas/opacity'
            examples:
              text:
                summary: Text watermark
                value:
                  file: <PDF file data>
                  data:
                    text: CONFIDENTIAL
                    width: 200
                    height: 50
                    fontSize: 20
                    fontColor: '#FF0000'
                    opacity: 0.5
              image:
                summary: Image watermark
                value:
                  file: <PDF file data>
                  logo: <Image file data>
                  data:
                    image: logo
                    width: 50%
                    height: 100
                    opacity: 0.3
      responses:
        '200':
          content:
            application/pdf:
              schema:
                description: The watermarked PDF file
                example: <PDF file>
                format: binary
                type: string
          description: The PDF document with watermark applied
          headers:
            x-pspdfkit-remaining-credits:
              $ref: '#/components/headers/x-pspdfkit-remaining-credits'
            x-pspdfkit-request-cost:
              $ref: '#/components/headers/x-pspdfkit-request-cost'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Document Editing
  /processor/md_to_pdf:
    post:
      summary: Convert Markdown to PDF
      operationId: processor-md-to-pdf
      description: |-
        Convert markdown content to a styled PDF document.

        The conversion pipeline transforms Markdown into styled HTML (with syntax highlighting, GFM extensions,
        and optional custom CSS), then renders the HTML to PDF.

        This endpoint supports three content types:
        - **`application/json`** — JSON body with `markdown` field and optional options.
        - **`text/markdown`** — Raw Markdown body (no options, no images).
        - **`multipart/form-data`** — Markdown file + optional image assets + optional JSON options.

        Conversion is [CommonMark](https://spec.commonmark.org/0.31.2/)-compliant and supports
        [GFM](https://github.github.com/gfm/) extensions (tables, strikethrough, autolinks, task lists,
        alerts) plus footnotes, superscript/subscript, highlight, underline, and description lists.
      requestBody:
        content:
          text/markdown:
            schema:
              description: Raw Markdown content sent directly in the request body. No options are available with this content type
              type: string
              example: |-
                # Hello World

                This is **bold** and *italic*.
          application/json:
            schema:
              type: object
              required:
                - markdown
              properties:
                markdown:
                  type: string
                  description: 'The Markdown content to convert. Maximum size: 5 MB.'
                  example: |-
                    # Hello World

                    This is **bold** and *italic*.

                    | Name | Score |
                    |------|------:|
                    | Alice | 95 |
                template:
                  $ref: '#/components/schemas/BuiltInTemplate'
                css:
                  type: string
                  description: |-
                    Custom CSS appended after the template stylesheet. Use this to override or extend
                    the template styling. When no template is specified, the CSS is appended after
                    the default stylesheet.
                  example: 'body { font-family: Georgia, serif; } h1 { color: #2c3e50; }'
                layout:
                  $ref: '#/components/schemas/PageLayout'
                markdown_options:
                  $ref: '#/components/schemas/MarkdownOptions'
            example:
              markdown: |-
                # Report

                | Metric | Value |
                |--------|------:|
                | Revenue | $1.2M |

                See footnote[^1].

                [^1]: Q1 2026 figures.
              markdown_options:
                extensions:
                  table: true
                  footnotes: true
                syntax_highlight:
                  theme: github
          multipart/form-data:
            encoding:
              markdown:
                contentType: text/markdown
              data:
                contentType: application/json
              html:
                contentType: text/html
            schema:
              type: object
              required:
                - markdown
              properties:
                markdown:
                  type: string
                  format: binary
                  description: |-
                    The Markdown file to convert. Maximum size: 5 MB. Image references in the
                    Markdown (e.g. `![logo](logo.png)`) are resolved against uploaded asset parts.
                  example: <Markdown file>
                data:
                  type: object
                  description: Optional JSON object with conversion options. All fields are optional.
                  properties:
                    template:
                      $ref: '#/components/schemas/BuiltInTemplate'
                    css:
                      type: string
                      description: Custom CSS appended after the template stylesheet.
                    layout:
                      $ref: '#/components/schemas/PageLayout'
                    markdown_options:
                      $ref: '#/components/schemas/MarkdownOptions'
                html:
                  type: string
                  format: binary
                  description: |-
                    Optional inline HTML template file. When provided, this HTML wraps the rendered
                    Markdown instead of the default template. The rendered Markdown body is inserted
                    at the `{{content}}` placeholder. The `css` parameter is ignored when an inline
                    HTML template is provided.
                  example: <HTML template file>
              additionalProperties:
                type: string
                format: binary
                description: |-
                  Additional file parts are treated as image/asset uploads. The part name becomes
                  the asset filename, which can be referenced in Markdown via `![alt](filename)`.
      responses:
        '200':
          content:
            application/pdf:
              schema:
                description: The generated PDF document
                example: <PDF file>
                format: binary
                type: string
          description: The generated PDF document
          headers:
            x-pspdfkit-remaining-credits:
              $ref: '#/components/headers/x-pspdfkit-remaining-credits'
            x-pspdfkit-request-cost:
              $ref: '#/components/headers/x-pspdfkit-request-cost'
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
          description: |-
            The request is malformed. Some invalid data was supplied, or a precondition wasn't met.

            Common causes:
            - Missing `markdown` field in JSON body or multipart request.
            - Invalid `markdown_options` (unknown extension, invalid theme name, etc.).
            - Invalid `layout` values (negative margins, unknown page size preset).
            - Malformed JSON in the `data` multipart part.
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: |-
            The request exceeds the maximum allowed size. The Markdown content is limited to 5 MB.
            The overall request body is subject to your plan's inbound size limit.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Document Editing
      x-codeSamples:
        - label: JSON
          lang: curl
          source: |
            curl -X POST https://api.nutrient.io/api/processor/md_to_pdf \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "markdown": "# Hello World\n\nThis is **bold** and *italic*.\n\n- Item one\n- Item two"
              }' \
              -o output.pdf
        - label: Raw Markdown
          lang: curl
          source: |
            curl -X POST https://api.nutrient.io/api/processor/md_to_pdf \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -H "Content-Type: text/markdown" \
              --data-binary @document.md \
              -o output.pdf
        - label: Multipart with images
          lang: curl
          source: |
            curl -X POST https://api.nutrient.io/api/processor/md_to_pdf \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -F markdown=@document.md \
              -F logo.png=@images/logo.png \
              -F diagram.svg=@images/diagram.svg \
              -o output.pdf
        - label: With options
          lang: curl
          source: |
            curl -X POST https://api.nutrient.io/api/processor/md_to_pdf \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "markdown": "# Styled Report\n\n| Name | Score |\n|------|------:|\n| Alice | 95 |",
                "template": "built-in:elegant",
                "css": "h1 { color: #2c3e50; }",
                "layout": {
                  "size": "Letter",
                  "orientation": "landscape",
                  "margin": {"top": 20, "right": 20, "bottom": 20, "left": 20}
                },
                "markdown_options": {
                  "extensions": {"table": true, "footnotes": true},
                  "syntax_highlight": {"theme": "github"}
                }
              }' \
              -o output.pdf
  /sign:
    post:
      summary: Digitally sign a PDF file
      description: Use this endpoint to digitally sign a PDF file.
      operationId: sign-file
      parameters:
        - $ref: '#/components/parameters/Password'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The binary content of a PDF file to be signed.
                  example: <PDF data>
                data:
                  $ref: '#/components/schemas/CreateDigitalSignature'
                  description: |
                    Optional signing parameters. If omitted, defaults will be used:
                    - `flatten`: `false`
                    - An invisible signature will be created
                image:
                  type: string
                  format: binary
                  description: The watermark image to be used as part of the signature's appearance. Optional.
                  example: <Image data>
                graphicImage:
                  type: string
                  format: binary
                  description: The graphic image to be used as part of the signature's appearance. Optional.
                  example: <Image data>
            encoding:
              file:
                contentType: application/pdf
              image:
                contentType: application/pdf, image/jpg, image/png, image/tiff
              graphicImage:
                contentType: application/pdf, image/jpg, image/png, image/tiff
              data:
                contentType: application/json
      responses:
        '200':
          description: The signed document.
          content:
            application/pdf:
              schema:
                type: string
                description: The signed PDF file.
                format: binary
                example: <PDF file>
          headers:
            x-pspdfkit-request-cost:
              $ref: '#/components/headers/x-pspdfkit-request-cost'
            x-pspdfkit-remaining-credits:
              $ref: '#/components/headers/x-pspdfkit-remaining-credits'
        '400':
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostedErrorResponse'
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - Digital Signatures
  /tokens:
    post:
      operationId: generate-token
      summary: Generate a new API token
      description: Use this endpoint to generate a new API token. All request body parameters are optional.
      tags:
        - JWT
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthTokenParameters'
      responses:
        '201':
          description: The generated API token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthTokenResponse'
        '400':
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        allowedOperations:
                          type: string
                          example: Description of error
                        allowedOrigins:
                          type: string
                          example: Description of error
                        expirationTime:
                          type: string
                          example: Description of error
    delete:
      operationId: revoke-token
      summary: Revoke an API token
      description: Use this endpoint to revoke an API token.
      tags:
        - JWT
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  description: The ID of the token to revoke.
                  example: FCKGW-RHQQ2-YXRKT-8TG6W-2B7Q8
      responses:
        '204':
          description: The token was successfully revoked.
        '404':
          description: The token was not found.
  /account/info:
    get:
      summary: Get account information
      description: |-
        > This endpoint is deprecated. Please use `GET /account/{product}/usage` instead.

        Use this endpoint to get information about your account, such as the number of credits you have left.
      operationId: get-account-info
      deprecated: true
      responses:
        '200':
          description: Account information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  signedIn:
                    type: boolean
                    description: Whether you are signed in.
                    example: true
                  subscriptionType:
                    enum:
                      - free
                      - paid
                      - enterprise
                    description: Your subscription type.
                  usage:
                    type: object
                    description: Information about your usage.
                    properties:
                      totalCredits:
                        type: number
                        description: The number of credits available in the current billing period.
                        example: 100
                      usedCredits:
                        type: number
                        description: The number of credits you have used in the current billing period.
                        example: 50
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
      tags:
        - Account
  /account/{product}/usage:
    get:
      summary: Get usage for a product
      description: Use this endpoint to get subscription and usage counters for a specific product.
      operationId: get-account-product-usage
      parameters:
        - name: product
          in: path
          required: true
          schema:
            type: string
            enum:
              - processor
              - viewer
              - signing_workflow
              - accessibility
              - data_extraction
          description: Product slug matching `Hosted.Tenants.Model.Tenant.product/1`.
      responses:
        '200':
          description: Product subscription and usage information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  subscription:
                    type: object
                    properties:
                      type:
                        anyOf:
                          - type: string
                            enum:
                              - free
                              - trial
                              - paid
                              - enterprise
                          - type: 'null'
                      status:
                        anyOf:
                          - type: string
                            enum:
                              - active
                              - inactive
                              - past_due
                              - paused
                              - deleted
                          - type: 'null'
                  usage:
                    type: object
                    properties:
                      counters:
                        type: array
                        items:
                          type: object
                          properties:
                            code:
                              type: string
                              description: Service-specific usage counter identifier.
                            unit:
                              type: string
                              description: Unit of the counter (for example credits, pages, sessions, bytes).
                            used:
                              type:
                                - string
                                - 'null'
                              description: Current usage amount for the counter.
                            total:
                              type:
                                - string
                                - 'null'
                              description: Total allowance for the counter in the current period.
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '404':
          description: The requested product is unknown or not enabled for the authenticated organization.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - unknown_product
                      - product_not_found
      tags:
        - Account
  /ai/redact:
    post:
      summary: Redact sensitive information from a document
      operationId: ai-redact
      description: Redacts sensitive information from a document based on the provided criteria.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - data
                - file
              properties:
                data:
                  description: |
                    Parameters required for the redaction.
                  $ref: '#/components/schemas/RedactData'
                file:
                  type: string
                  format: binary
                  description: The PDF file to process.
                  example: <PDF data>
            encoding:
              data:
                contentType: application/json
              file:
                contentType: application/pdf
          application/json:
            schema:
              $ref: '#/components/schemas/RedactData'
      responses:
        '200':
          description: The redacted document
          content:
            application/pdf:
              schema:
                type: string
                format: binary
                description: The redacted PDF file
          headers:
            x-pspdfkit-request-cost:
              schema:
                type: number
                description: Cost of the request in credits
            x-pspdfkit-remaining-credits:
              schema:
                type: number
                description: Remaining credits after the request has been executed
        '400':
          description: The request is malformed. Some invalid data was supplied, or a precondition wasn't met.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                  errors:
                    type: array
                    items:
                      type: object
        '401':
          description: You are unauthorized. Sent when no API token is specified, or when the API token you specified isn't valid.
        '402':
          description: You have exceeded the total number of documents processed in your subscription.
        '408':
          description: The request timed out.
        '413':
          description: The request exceeds the maximum input size, meaning either a single part, or the sum of all parts, is large.
        '422':
          description: The request exceeds the maximum output file size.
        '500':
          description: An internal server error occurred. Please contact support.
      tags:
        - AI
components:
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
  schemas:
    AnalyzeBuildResponse:
      type: object
      properties:
        cost:
          type: number
          description: Total cost in credits charged after executing the request.
          minimum: 0
          example: 1.5
        required_features:
          type: object
          description: Usage statistics for all features required to execute the request.
          additionalProperties:
            type: object
            properties:
              unit_cost:
                type: number
                description: Credits cost per use of the feature.
                minimum: 0
                example: 0.5
              unit_type:
                type: string
                description: |-
                  Type of the unit used for billing. Possible values:

                  * `per_use` - `units` field represent number of uses of this particular feature in a Build request.
                  * `per_output_page` - `units` field represents number of pages of the Build request output.
                example: per_use
                enum:
                  - per_use
                  - per_output_page
              units:
                type: integer
                description: Number of feature uses in the request.
                minimum: 1
                example: 3
              cost:
                type: number
                description: Cost for feature uses in the request.
                minimum: 0
                example: 1.5
              usage:
                type: array
                description: JSON paths to the parts of instructions where the feature was used.
                items:
                  type: string
      example:
        cost: 3.5
        required_features:
          annotation_api:
            - unit_cost: 0.5
              unit_type: per_use
              units: 3
              cost: 1.5
              usage:
                - $.parts[0].actions[0]
                - $.parts[1].actions[1]
                - $.actions[0]
          document_editor_api:
            - unit_cost: 1
              unit_type: per_use
              units: 1
              cost: 1
              usage:
                - $.parts[1].merge
          ocr_api:
            - unit_cost: 2
              unit_type: per_use
              units: 1
              cost: 2
              usage:
                - $.parts[1].actions[0]
          pdf_to_pdfua_api:
            - unit_cost: 5
              unit_type: per_output_page
              units: 3
              cost: 15
              usage:
                - $.output
    InstantJson:
      title: Instant JSON
      description: Instant JSON is a format for bringing annotations and bookmarks into a modern format while keeping all important properties to make the Instant JSON spec work with PDF.
      type: object
      properties:
        format:
          type: string
          enum:
            - https://pspdfkit.com/instant-json/v1
        annotations:
          type: array
          items:
            anyOf:
              - $ref: '#/components/schemas/Annotation'
              - $ref: '#/components/schemas/Annotation.v1'
        attachments:
          $ref: '#/components/schemas/Attachments'
        formFields:
          type: array
          items:
            $ref: '#/components/schemas/FormField'
        formFieldValues:
          type: array
          items:
            $ref: '#/components/schemas/FormFieldValue'
        bookmarks:
          type: array
          items:
            $ref: '#/components/schemas/Bookmark'
        comments:
          type: array
          items:
            $ref: '#/components/schemas/CommentContent'
        skippedPdfObjectIds:
          type: array
          description: An array of PDF object IDs that should be skipped during the import process. Whenever an object ID is marked as skipped, it'll no longer be loaded from the original PDF. Instead, it could be defined inside the annotations array with the same pdfObjectId. If this is the case, the PDF viewer will display the new annotation, which signals an update to the original one. If an object ID is marked as skipped but the annotations array doesn't contain an annotation with the same pdfObjectId, it'll be interpreted as a deleted annotation. An annotation inside the annotations array without the pdfObjectId property is interpreted as a newly created annotation.
          items:
            type: integer
            minimum: 0
        pdfId:
          type: object
          description: PDF document identifiers, base64 encoded. This is used to track version of PDF document this JSON has been exported from.
          properties:
            permanent:
              type: string
              description: Permanent document identifier based on the contents of the file at the time it was originally created. Does not change when the file is saved incrementally.
              example: 9C3nLxNzQBuBBzv96LbdMg==
            changing:
              type: string
              description: Document identifier based on the file's contents at the time it was last updated.
              example: Oi+XccZpDHChV7I=
      required:
        - format
    CreateAuthTokenParameters:
      type: object
      properties:
        allowedOperations:
          type: array
          description: |-
            List of operations that can be performed with the generated token.
            Defaults to all operations.
          items:
            type: string
            enum:
              - annotations_api
              - compression_api
              - data_extraction_api
              - digital_signatures_api
              - document_editor_api
              - html_conversion_api
              - image_conversion_api
              - image_rendering_api
              - email_conversion_api
              - linearization_api
              - ocr_api
              - office_conversion_api
              - pdfa_api
              - pdf_to_office_conversion_api
              - redaction_api
          example:
            - digital_signatures_api
        allowedOrigins:
          type: array
          description: |-
            List of origins that can use the generated token.
            By default, allows all origins.
          items:
            type: string
            example: example.com
        expirationTime:
          type: integer
          default: 3600
          minimum: 1
          maximum: 86400
          description: The expiration time of the token in seconds. Must be between 1 and 86400 (24 hours).
    CreateAuthTokenResponse:
      type: object
      properties:
        id:
          type: string
          description: The ID of the generated token.
          example: a1b2c3d4-e5f6-g7h8-i9j0-k1l2m3n4o5p6
        accessToken:
          type: string
          description: The generated API token.
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VyX2lkIjoxMjM0NTY3ODkwLCJpYXQiOjE1MTYyMzkwMjJ9.4TJ4J7
    RedactData:
      type: object
      required:
        - documents
        - criteria
      properties:
        documents:
          type: array
          description: An array of documents to analyze for redaction.
          minItems: 1
          maxItems: 1
          items:
            type: object
            properties:
              file:
                oneOf:
                  - type: string
                    description: If the request is multipart/form-data, the name of the `file` key.
                  - type: object
                    properties:
                      url:
                        type: string
                        description: A URL pointing to a document to redact.
                    required:
                      - url
              pages:
                oneOf:
                  - type: array
                    items:
                      type: integer
                      minimum: 0
                    description: Array of page indices to analyze (0-based).
                  - type: object
                    properties:
                      start:
                        type: integer
                        minimum: 0
                        description: Starting page index (0-based).
                      end:
                        type: integer
                        description: |-
                          Ending page index. A positive number denotes an absolute page index,
                          negative number denotes a relative page index from the end of the document.
                    required:
                      - start
                      - end
                description: Optional. Limits the analysis to specific pages.
        criteria:
          type: string
          description: The redaction criteria such as "Redact all PII", or "All personal names and addresses", etc.
        redaction_state:
          type: string
          enum:
            - stage
            - apply
          default: stage
          description: When set to "stage", marks locations for redaction; when set to "apply", marks and removes content permanently. Optional, defaults to "stage".
        options:
          type: object
          description: Optional configuration for the redaction process.
          properties:
            confidence:
              type: object
              description: Configuration for confidence-based filtering of redactions.
              properties:
                threshold:
                  type: number
                  description: Optionally filter terms which are scored with a confidence level less than the threshold. Scores range from 1-10.
              required:
                - threshold
    UrlFileHandle:
      type: object
      title: Remote file
      description: Object pointing to remote file
      properties:
        url:
          type: string
          description: Specifies the URL from a file can be downloaded
          example: https://remote-file-storage/input-file
        sha256:
          type: string
          description: |-
            Optional parameter to verify a downloaded file using provided SHA256 hash.
            It is expected to be base16 encoded using lowercase.
      required:
        - url
    MultipartFileHandle:
      type: string
      title: Uploaded file
      description: Specifies the name of multipart part containing a file
      example: file-from-multipart
    FileHandle:
      oneOf:
        - $ref: '#/components/schemas/UrlFileHandle'
        - $ref: '#/components/schemas/MultipartFileHandle'
    PageRange:
      type: object
      description: |-
        Defines the range of pages in a document. The indexing starts from 0. It is possible
        to use negative numbers to refer to pages from the last page. For example, `-1` refers to the last page.
      properties:
        start:
          type: integer
          default: 0
        end:
          type: integer
          default: -1
    PageLayout:
      type: object
      description: Defines the layout of the generated pages.
      properties:
        orientation:
          type: string
          enum:
            - portrait
            - landscape
          description: The orientation of generated pages.
          default: portrait
        size:
          oneOf:
            - type: string
              title: Preset
              description: Page size preset.
              enum:
                - A0
                - A1
                - A2
                - A3
                - A4
                - A5
                - A6
                - A7
                - A8
                - Letter
                - Legal
            - type: object
              title: Custom
              description: The dimensions of generated pages.
              properties:
                width:
                  type: number
                  description: The width of pages in mm.
                  example: 210
                  minimum: 1
                height:
                  type: number
                  description: The height of pages in mm.
                  example: 297
                  minimum: 1
        margin:
          type: object
          description: The margins of generated pages. All dimensions are in mm.
          properties:
            left:
              type: number
              minimum: 0
              default: 0
            top:
              type: number
              minimum: 0
              default: 0
            right:
              type: number
              minimum: 0
              default: 0
            bottom:
              type: number
              minimum: 0
              default: 0
    ApplyInstantJsonAction:
      type: object
      required:
        - type
        - file
      properties:
        type:
          type: string
          description: Apply the Instant JSON to the document to import annotations or forms to a document.
          enum:
            - applyInstantJson
        file:
          $ref: '#/components/schemas/FileHandle'
    ApplyXfdfAction:
      type: object
      required:
        - type
        - file
      properties:
        type:
          type: string
          description: Apply the XFDF to the document to import annotations to a document.
          enum:
            - applyXfdf
        file:
          $ref: '#/components/schemas/FileHandle'
        ignorePageRotation:
          type: boolean
          default: false
          description: If `true`, ignores page rotation when applying XFDF data.
        richTextEnabled:
          type: boolean
          default: true
          description: |-
            If `true`, plain text annotations will be converted to rich text annotations.
            If `false`, all text annotations will be plain text annotations.
    FlattenAction:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          description: Flatten the annotations in the document.
          enum:
            - flatten
        annotationIds:
          type: array
          description: |-
            Annotation IDs to flatten. These can be annotation IDs or `pdfObjectId`s.
            If not specified, all annotations will be flattened.
          items:
            oneOf:
              - type: string
              - type: integer
    OcrLanguage:
      type: string
      example: english
      description: |-
        OCR dictionary to be used for the OCR text extraction. You can specify either the full language name for supported languages (e.g., `english`, `german`), the ISO 639-2 language code (e.g., `eng`, `deu`)
        or use one of special dictionaries such as `chi_sim_vert` for Simplified Chinese vertical text or `deu_frak` for German Fraktur script.

        It's also possible to provide a list of languages for multilingual documents (e.g., `["english", "german"]`).

[...]
